
.bienvenido{
    font-size: 700%;
    font-weight: bold;
}

.slogan{
    font-style: italic;
    font-size: 300%;
}

.borde{
    border: 10px solid orange;
    border-radius: 15px;
}

@media (max-Width:480px) {
    .bienvenido{
        font-size: 500%;
        font-weight: bold;
    } 
}