.logo{
    width: 70px;
    margin: 0px 5px;
}
.seguinos{
    font-size: 40px;
}
.contactenos{
    margin-top: 20px !important;
}
@media (max-Width: 480px){
    .textoFooter{
        font-size: 11px;
    }
}